/*HTML ELEMENT STYLES*/
body {
  background-image: url("Crazy Restaurant.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form {
  display: inline;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
   margin-bottom: 0px;
}

li {
  list-style: none;
  margin-bottom: 0px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
/*GENERAL STYLING*/
.mainTitle {
  background-color: gold;
  color: black;
  font-size: 65px;
  font-family: 'KBFunHouse';
  text-align: center;
  height: auto;
  width: auto;
}

.mainButton, input[type=button], input[type=reset], input[type=submit] {
  background-color: white;
  border-radius: 0px;
  margin-left: 25px;
  width: 250px;
  height: 50px;
}

.menuText {
  font-size: 20px;
  vertical-align: top;
}

.navBarButton {
  font-family: 'Helvetica';
  background-color: gold;
  color: black;
  float: right;
  /*border-radius: 10px 10px 0px 0px;*/
  text-decoration: none;
  padding: 5px 10px 3px 10px;
  margin-left: 10px;
  font-size: 20px;
}

.navBarButton:hover {
  font-family: 'Helvetica';
  background-color: red;
  color: gold;
  float: right;
  /*border-radius: 10px 10px 0px 0px;*/
  text-decoration: none;
  padding: 5px 10px 3px 10px;
  margin-left: 10px;
  font-size: 20px;
}

.subTitle {
  background-color: gold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 24px;
}

.inputQuantity {
  width: 40px;
}

.checkboxItem {
  margin-right: 30px;
  display: inline;
  vertical-align: top;
  display: inline-block;
}

.blackBlock {
  width: 40px;
  height: 100px;
  background-color: black;
}
/*ul.orderDisplay li:nth-child(even) {
  background-color: pink;
}*/


/*MAIN INDEX PAGE STYLING*/
.inventoryItems {
  background-color: Ivory;
  float: left;
  width: 100%
}

.inventoryInput {
  margin: 0px 0px 20px 25px;
  border-radius: 0px;
}

.inventoryList {
  background-color: Lavender;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.inventoryListItem {
  background-color: red;
  float: left;
  padding: 5px 10px;
}

.parties {
  background-color: Ivory;
  float: left;
  width: 100%;

}

.partyList {
  background-color: Lavender;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;}

.partyListItem {
  background-color: yellow;
  float: left;
}

.orders {
  background-color: Ivory;
  width: 100%
}

.orderList {
  background-color: Lavender;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.orderListItem {
  background-color: purple;
  float: left;
}

.table {
  background-color: rgba(255, 255, 255, 1);
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;
}
.tableButton, input[type=button], input[type=reset], input[type=submit] {
  background-color: white;
  border-radius: 0px;
  width: 250px;
  height: 50px;
  margin-top: 10px;
}
