<h3> Crazy Restaurant </h3>
<h4>Table Info</h4>

<p>
  Here are the details:
</p>

<a href="/parties/new">New Party</a>

<ul>
  <% @parties.each do |party| %>
    <li>
      <%= party.table_number %>
    </li>
  <% end %>
</ul>
