<h3> Crazy Restaurant </h3>
<h4>New Party</h4>

<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="...table number">
  <input type="submit" value="New Party">
</form>
